In [1]:
import pandas as pd
import numpy as np
import shutil
import sys
import os
import json

In [4]:
is_vae = False

In [5]:
# Just choose the name of the dataset directory
DATA_DIR = '/Users/tomas/Documents/FEUP/Tese/data/ml-20m/processed_70_10_20'
if is_vae:
    PARSE_DATA_DIR = os.path.join(DATA_DIR, 'embeddings/vae')
else:
    PARSE_DATA_DIR = os.path.join(DATA_DIR, 'embeddings/cdae')

In [48]:
PARSE_DATA_DIR = os.path.join(DATA_DIR, 'embeddings/als')

In [49]:
embeddings = pd.read_csv(os.path.join(PARSE_DATA_DIR, 'embeddings.csv'))

In [50]:
embeddings.head()

,original_id,0,1,2,3,4,5,6,7,8,...,191,192,193,194,195,196,197,198,199,uid
0,1,-0.058967,0.229568,-0.707001,0.540223,-0.110984,0.219160,0.191912,0.397641,0.412974,...,-0.166100,0.179952,0.182467,0.175274,-0.002350,0.520412,0.183931,-0.089415,0.294081,0
1,2,0.053650,0.003824,-0.151874,0.223005,-0.076169,0.024204,-0.226282,-0.275735,-0.287022,...,0.015414,0.253139,0.023921,-0.157192,0.178530,0.095084,-0.079894,-0.121272,-0.002467,1
2,3,-0.202143,-0.226526,-0.648742,0.234206,0.170624,0.496507,-0.282112,0.455193,-0.109085,...,-0.321206,0.287338,-0.166969,0.110853,0.312051,0.262411,0.061551,0.050908,-0.211964,2
3,4,-0.155596,0.016257,0.255050,0.119575,-0.315419,-0.087295,-0.286379,-0.054195,-0.147150,...,-0.055110,-0.010709,0.287566,0.097178,0.251507,-0.101567,0.070255,0.004031,-0.131053,3
4,5,-0.017234,0.420561,-0.288330,0.445641,-0.164420,0.055104,-0.175972,-0.130913,-0.084127,...,0.161235,0.038432,0.312712,-0.041273,0.328645,0.034584,0.055259,-0.273009,-0.147063,4

In [6]:
embeddings.shape

(129757, 201)

In [38]:
results = pd.read_csv(os.path.join(DATA_DIR, 'total_results_k_20.csv'))

In [39]:
results.head()

,uid,als_ndcg,bpr_ndcg,lmf_ndcg,most_popular_ndcg,knn_cos_ndcg,knn_tfidf_ndcg,knn_bm25_ndcg
0,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0
1,1.0,0.746604,0.000000,0.0,0.373071,0.647699,0.500833,0.0
2,2.0,0.000000,0.247014,0.0,0.333333,0.000000,0.000000,0.0
3,3.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0
4,4.0,0.272511,0.235409,0.0,0.371962,0.245902,0.191138,0.0

In [23]:
results.shape

(129757, 8)

In [40]:
#We are not going to use the knn, because only about 10% 
results = results.drop('knn_tfidf_ndcg', 1)
results = results.drop('knn_cos_ndcg', 1)
results = results.drop('knn_bm25_ndcg', 1)
results['zeroes'] = 0.000001

In [41]:
results.head()

   uid  als_ndcg  bpr_ndcg  lmf_ndcg  most_popular_ndcg    zeroes
0  0.0  0.000000  0.000000       0.0           0.000000  0.000001
1  1.0  0.746604  0.000000       0.0           0.373071  0.000001
2  2.0  0.000000  0.247014       0.0           0.333333  0.000001
3  3.0  0.000000  0.000000       0.0           0.000000  0.000001
4  4.0  0.272511  0.235409       0.0           0.371962  0.000001

In [19]:
results

        als_ndcg  bpr_ndcg  lmf_ndcg  most_popular_ndcg    zeroes
0       0.000000  0.000000  0.000000           0.000000  0.000001
1       0.746604  0.000000  0.000000           0.373071  0.000001
2       0.000000  0.247014  0.000000           0.333333  0.000001
3       0.000000  0.000000  0.000000           0.000000  0.000001
4       0.272511  0.235409  0.000000           0.371962  0.000001
5       0.282356  0.493568  0.304121           0.000000  0.000001
6       0.297991  0.000000  0.000000           0.242704  0.000001
7       0.387166  0.630930  0.377979           0.000000  0.000001
8       0.301030  0.317575  0.000000           0.235409  0.000001
9       0.000000  0.000000  0.000000           0.278943  0.000001
10      0.672856  0.500000  0.000000           0.574685  0.000001
11      0.000000  0.000000  0.000000           0.382005  0.000001
12      0.244651  0.278943  0.255958           0.301030  0.000001
13      0.714930  0.500000  0.000000           0.263098  0.000001
14      0.000000  0.000000  0.000000           0.000000  0.000001
15      0.000000  0.000000  0.239812           0.500000  0.000001
16      0.235409  0.000000  0.000000           0.000000  0.000001
17      0.000000  0.000000  0.000000           0.301030  0.000001
18      0.000000  0.243668  0.000000           0.000000  0.000001
19      0.430677  0.315465  0.000000           0.000000  0.000001
20      0.000000  0.235409  0.500000           0.000000  0.000001
21      0.244651  0.000000  0.000000           0.000000  0.000001
22      0.285634  0.000000  0.000000           0.000000  0.000001
23      0.430677  0.000000  0.000000           0.283447  0.000001
24      0.270238  0.306138  0.000000           0.000000  0.000001
25      0.270238  0.270238  0.235409           1.000000  0.000001
26      0.000000  0.000000  0.000000           0.000000  0.000001
27      0.000000  0.000000  0.000000           0.000000  0.000001
28      0.430677  0.695377  0.386853           0.386853  0.000001
29      0.000000  0.000000  0.000000           1.000000  0.000001
...          ...       ...       ...                ...       ...
129727  0.000000  0.301030  0.000000           1.000000  0.000001
129728  0.657732  0.000000  0.000000           0.239812  0.000001
129729  0.315752  0.244906  0.301030           0.000000  0.000001
129730  0.644532  0.690832  0.262650           0.238014  0.000001
129731  0.000000  0.270238  0.000000           0.000000  0.000001
129732  0.262650  0.257176  0.000000           1.000000  0.000001
129733  0.794440  1.000000  1.000000           0.250000  0.000001
129734  0.000000  0.000000  0.000000           0.000000  0.000001
129735  0.000000  0.000000  0.000000           0.000000  0.000001
129736  0.666667  0.000000  0.000000           0.000000  0.000001
129737  1.000000  0.575800  0.316328           1.000000  0.000001
129738  0.630930  0.000000  0.000000           0.270238  0.000001
129739  0.000000  0.500000  0.000000           0.311131  0.000001
129740  0.333333  0.235409  0.000000           0.000000  0.000001
129741  0.000000  0.000000  0.000000           0.473197  0.000001
129742  0.383218  0.262650  0.672856           0.000000  0.000001
129743  0.000000  0.000000  0.333333           0.000000  0.000001
129744  0.264439  0.000000  0.000000           0.239812  0.000001
129745  0.321553  0.315465  0.430677           0.430677  0.000001
129746  0.823392  0.255958  0.500000           0.244651  0.000001
129747  0.333333  0.000000  0.000000           0.333333  0.000001
129748  0.000000  0.000000  0.000000           0.315465  0.000001
129749  0.000000  0.000000  0.000000           0.000000  0.000001
129750  0.500000  1.000000  0.000000           0.000000  0.000001
129751  1.000000  0.255958  0.000000           0.000000  0.000001
129752  0.000000  0.000000  0.000000           0.000000  0.000001
129753  0.372325  0.235409  0.000000           0.633159  0.000001
129754  0.000000  0.386853  0.000000           0.293793  0.000001
129755  0.000000  0.333333  0.000000           0.000000  0.000001
129756  0.437790  0.506759  0.000000           0.509484  0.000001

[129757 rows x 5 columns]

In [42]:
#Order Algorithms and keep the uid
uid = pd.DataFrame(data=results.uid)
results = results.drop('uid', 1)
pre_metadaset_dict = dict([(r[0], list(results.columns[np.argsort(list(r)[1::])])) \
    for r in list(results.to_records())])

pre_metadaset = pd.DataFrame.from_dict(pre_metadaset_dict,orient = 'index',columns=['fifth_place', 'fourth_place', 'third_place','second_place','first_place'])
pre_metadaset = uid.merge(pre_metadaset, left_index=True, right_index=True)

In [43]:
pre_metadaset.head()

,uid,fifth_place,fourth_place,third_place,second_place,first_place
0,0.0,als_ndcg,bpr_ndcg,lmf_ndcg,most_popular_ndcg,zeroes
1,1.0,bpr_ndcg,lmf_ndcg,zeroes,most_popular_ndcg,als_ndcg
2,2.0,als_ndcg,lmf_ndcg,zeroes,bpr_ndcg,most_popular_ndcg
3,3.0,als_ndcg,bpr_ndcg,lmf_ndcg,most_popular_ndcg,zeroes
4,4.0,lmf_ndcg,zeroes,bpr_ndcg,als_ndcg,most_popular_ndcg

In [30]:
total = pre_metadaset.shape[0]
names = ['als_ndcg','most_popular_ndcg','bpr_ndcg','zeroes','lmf_ndcg']
for name, count in zip(names,pre_metadaset.first_place.value_counts()):
    print("count % ",count)
    print(name," % ",count/total)

count %  34215
als_ndcg  %  0.2636851961743875
count %  29088
most_popular_ndcg  %  0.22417287699314872
count %  25925
bpr_ndcg  %  0.19979654276840556
count %  21277
zeroes  %  0.16397573926647502
count %  19252
lmf_ndcg  %  0.14836964479758316

In [44]:
with open(os.path.join(DATA_DIR, 'map_user.json')) as f:
    map_user = json.load(f)
    map_user_dict = {'original_id': list(map_user.keys()), 'mapped_id':list(map_user.values()) }
    map_user_df = pd.DataFrame(map_user_dict)

In [45]:
# Get the original id per result
pre_metadaset_original_users = pd.merge(left=map_user_df, right=pre_metadaset, left_on='mapped_id', right_on='uid')
# Make the original id column int64
pre_metadaset_original_users['original_id'] = pre_metadaset_original_users['original_id'].astype(np.int64)
#clean unused columns 
pre_metadaset_original_users = pre_metadaset_original_users.drop('mapped_id', 1)
pre_metadaset_original_users = pre_metadaset_original_users.drop('uid', 1)
pre_metadaset_original_users = pre_metadaset_original_users.drop('fifth_place', 1)
pre_metadaset_original_users = pre_metadaset_original_users.drop('fourth_place', 1)
pre_metadaset_original_users = pre_metadaset_original_users.drop('third_place', 1)
pre_metadaset_original_users = pre_metadaset_original_users.drop('second_place', 1)

In [46]:
pre_metadaset_original_users.head()

   original_id        first_place
0            1             zeroes
1            2           als_ndcg
2            3  most_popular_ndcg
3            4             zeroes
4            5  most_popular_ndcg

In [18]:
pre_metadaset_original_users.shape

(129757, 2)

In [91]:
pre_metadaset_original_users.loc[pre_metadaset_original_users['original_id'] == '7648']

     original_id first_place
7124        7648    als_ndcg

In [51]:
embeddings.head()

,original_id,0,1,2,3,4,5,6,7,8,...,191,192,193,194,195,196,197,198,199,uid
0,1,-0.058967,0.229568,-0.707001,0.540223,-0.110984,0.219160,0.191912,0.397641,0.412974,...,-0.166100,0.179952,0.182467,0.175274,-0.002350,0.520412,0.183931,-0.089415,0.294081,0
1,2,0.053650,0.003824,-0.151874,0.223005,-0.076169,0.024204,-0.226282,-0.275735,-0.287022,...,0.015414,0.253139,0.023921,-0.157192,0.178530,0.095084,-0.079894,-0.121272,-0.002467,1
2,3,-0.202143,-0.226526,-0.648742,0.234206,0.170624,0.496507,-0.282112,0.455193,-0.109085,...,-0.321206,0.287338,-0.166969,0.110853,0.312051,0.262411,0.061551,0.050908,-0.211964,2
3,4,-0.155596,0.016257,0.255050,0.119575,-0.315419,-0.087295,-0.286379,-0.054195,-0.147150,...,-0.055110,-0.010709,0.287566,0.097178,0.251507,-0.101567,0.070255,0.004031,-0.131053,3
4,5,-0.017234,0.420561,-0.288330,0.445641,-0.164420,0.055104,-0.175972,-0.130913,-0.084127,...,0.161235,0.038432,0.312712,-0.041273,0.328645,0.034584,0.055259,-0.273009,-0.147063,4

In [55]:
metadaset = pd.merge(left=embeddings, right=pre_metadaset_original_users, left_on='original_id', right_on='original_id')

#Clean id column
#metadaset = metadaset.drop('original_id', 1)
metadaset = metadaset.drop('uid', 1)

#To dont forget we will save the original id of user
#metadaset = metadaset.rename(columns={"uid": "original_id"})

In [56]:
metadaset.head()

,original_id,0,1,2,3,4,5,6,7,8,...,191,192,193,194,195,196,197,198,199,first_place
0,1,-0.058967,0.229568,-0.707001,0.540223,-0.110984,0.219160,0.191912,0.397641,0.412974,...,-0.166100,0.179952,0.182467,0.175274,-0.002350,0.520412,0.183931,-0.089415,0.294081,zeroes
1,2,0.053650,0.003824,-0.151874,0.223005,-0.076169,0.024204,-0.226282,-0.275735,-0.287022,...,0.015414,0.253139,0.023921,-0.157192,0.178530,0.095084,-0.079894,-0.121272,-0.002467,als_ndcg
2,3,-0.202143,-0.226526,-0.648742,0.234206,0.170624,0.496507,-0.282112,0.455193,-0.109085,...,-0.321206,0.287338,-0.166969,0.110853,0.312051,0.262411,0.061551,0.050908,-0.211964,most_popular_ndcg
3,4,-0.155596,0.016257,0.255050,0.119575,-0.315419,-0.087295,-0.286379,-0.054195,-0.147150,...,-0.055110,-0.010709,0.287566,0.097178,0.251507,-0.101567,0.070255,0.004031,-0.131053,zeroes
4,5,-0.017234,0.420561,-0.288330,0.445641,-0.164420,0.055104,-0.175972,-0.130913,-0.084127,...,0.161235,0.038432,0.312712,-0.041273,0.328645,0.034584,0.055259,-0.273009,-0.147063,most_popular_ndcg

In [59]:
#We will save the meta_dataset
metadaset.to_csv(os.path.join(PARSE_DATA_DIR, 'metadataset_k_20.csv'), index=False)

,original_id,1,2,3,4,5,6,7,8,9,...,192,193,194,195,196,197,198,199,200,first_place
0,7648,-0.431028,0.273519,0.000467,-0.021366,0.411798,0.445795,1.206461,0.437548,-0.670044,...,1.261934,0.238986,0.150137,-0.024725,-0.349221,3.509393,-0.146421,1.508804,-0.859744,als_ndcg
1,10208,0.351687,-0.626017,0.034143,-0.080265,0.101129,-0.229498,0.261393,-1.189405,-0.451783,...,0.964082,0.825656,0.064932,0.042978,-1.043557,0.562128,0.234560,0.813003,0.511105,zeroes
2,13315,-0.706174,-0.031290,-0.005091,-0.097111,0.111871,0.484369,0.737223,-1.132764,1.119018,...,1.040254,-1.375516,-0.064951,0.030435,0.757224,0.444452,0.753969,-0.582505,0.761838,bpr_ndcg
3,16144,0.672244,-0.958536,-0.005133,-0.093083,0.118219,-0.325690,1.434977,0.006304,-0.780396,...,1.159395,-0.746610,0.042197,0.038217,-0.813577,1.753534,-0.063353,-0.829087,-1.122440,most_popular_ndcg
4,18064,-0.813108,0.897909,-0.105261,0.080410,0.099298,-1.109625,2.775797,0.139941,-0.745728,...,0.584199,0.619601,0.027197,0.051431,-1.668557,1.609979,-1.117613,1.222671,-2.145877,lmf_ndcg